.items-update-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.items-count {
    margin-left: 2%;
}

.todo-items-update-buttons {
    border: 0px solid;
    box-sizing: border-box;
}

.todo-items-update-buttons:hover {
    border: 1px solid gray;
    border-color: gray;
    color: black;
    box-sizing: border-box;
}

.todo-items-clear-buttons {
    border:  0px solid;
    visibility: none;
}

.todo-items-no-clear-buttons {
    visibility: hidden;
}

.todo-items-clear-buttons:hover {
    text-decoration: underline;
}